* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.2rem;
    background-color: rgb(240,240,240);
    font-family: arial;
}
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70%;
    margin: 0 auto;
    padding: 31px;
    margin-top: 20px;
}
.main__title {
    cursor: default;
}
.accordion {
    padding: 10px 0;
    color: blue;
    cursor: pointer;
}
.accordion:hover {
    color: black;
}
.accordion:hover .accordion__title::after {
    display: block;
    content: '+';
    font-size: 1.5 rem;
    position: absolute;
    right: 0%;
    top: 50%;
    transform:translateY(-50%);
}
.accordion__title {
    width: 100%;
    outline: none;
    font-size: 1.5 rem;
    padding: 10px 0;
    border-top: 2px solid rgb(220,220,220);
    transition: 0.5s all;
    position: relative;
}
label {
    cursor: pointer;
}
img {
    width: 100%;
}

.accordion__dropdown__img1 {
    display: none;
}
.checkbox1 {
    display: none;
}
.checkbox1:checked ~ .accordion__dropdown__img1 {
  display: block;
}

.accordion__dropdown__img2 {
    display: none;
}
.checkbox2 {
    display: none;
}
.checkbox2:checked ~ .accordion__dropdown__img2 {
    display: block;
}

.accordion__dropdown__img3 {
    display: none;
}
.checkbox3 {
    display: none;
}
.checkbox3:checked ~ .accordion__dropdown__img3 {
    display: block;
}

.accordion__dropdown__img4 {
    display: none;
}
.checkbox4 {
    display: none;
}
.checkbox4:checked ~ .accordion__dropdown__img4 {
    display: block;
}

.accordion__dropdown__img5 {
    display: none;
}
.checkbox5 {
    display: none;
}
.checkbox5:checked ~ .accordion__dropdown__img5 {
    display: block;
}